* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

body {
    /* overflow: hidden; */
}

/* .hydra {
    width: 100vw;
    height: 100vh;
} */

.blurryLayer {
    position: fixed;
    margin:5% 10% 5% 25%;
    height: 40%;
    width: 40%;
    border-radius: 10px;
    backdrop-filter: blur(5px) ;
    z-index: 3;
    background-color: rgba(234, 213, 175, 0.3);
    display: none
}

.webgl {
    z-index: -1;
    position: absolute;
}
