* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

body {
    /* overflow: hidden; */
}

/* .hydra {
    width: 100vw;
    height: 100vh;
} */

.blurryLayer {
    position: fixed;
    margin-left: 25%;
    height: 100vh;
    width: 75%;
    backdrop-filter: blur(5px) ;
    z-index: 3;
    background-color: rgba(180, 28,0 640, 0.05);
    /* display: none */
}

.webgl {
    z-index: -1;
    position: absolute;
}